md-card-actions{
    margin-left: 30%;
}

md-card {
    margin-top: 20px;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

md-radio-button{
    margin: 20px 40px;
}

.hero-img{
    margin-left: 10%;
    width: 20%;
}


